body {
    background-color: rgb(239, 243, 181);
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
}

#grafiek {
    background-color: #f6f698;
    border: 2px dotted #333333;
    width: 800px;
    height: 600px;
}