#dashboard {
    display: grid;
    height: 80vh;
    grid-template-columns: 1.3fr 0.7fr 1fr ;
    grid-template-rows: 100px 1fr 100px;
    
}

.meterstanden {
    
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(255, 255, 255);
    margin: 0%;
    justify-content: center;
    place-items: center;
    display: flex;
    border: 1px solid black;
    margin-left: 5%;
    
    
}

.gegevensmeter {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color:#57FFD1;
    
    justify-content: center;
    place-items: center;
    display: flex;
    padding-top: 0%;
    
    height: 70%;
    margin-bottom: 71%;
    margin-left: 5%;

}
.weerbalk {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(255, 255, 255);
    margin: 0%;
    justify-content: center;
    place-items: center;
    display: flex;
    border: 1px solid black;
    width: 70%;
    margin-left: 40%;

}
.weer { 
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: aqua;
    margin: 0%;
    justify-content: center;
    place-items: center;
    display: flex;
    margin: 4px;
    margin-left: 40%;
    width: 70%;
    height: 50vh;

}
.tempbin-balk{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 4px solid black;
    justify-content: center;
    place-items: center;
    display: flex;
    width: 75%;
    margin-left: 17%;
    font-size: 350%;
    background-color: rgb(94, 233, 94);
}

.temperatuurbinnen {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgb(255, 255, 255);
    
    justify-content: center;
    place-items: center;
    display: flex;
    margin: 4px;
    height: 50vh;
    width: 75%;
    margin-left: 17%;
    font-size: 40%;
    border: 4px solid black;
}

.blauwbalk {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #57FFD1;
    margin-top: 0%;
    
    
    
    height: 150%;
    border: 30px solid  #57FFD1 ;
    text-align: center;
    

}

.kosten{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #72E7FF;
    justify-content: center;
    place-items: center;
    display: flex;
    height: 70%;
    font-size: 140%;
    margin-top: -20%;
    grid-row-start: 3;
    grid-row-end: 4;
}

.kosten1{
    grid-column-start: 1;
    grid-column-end: 2;
    
    /*grid-row-start: 4;
    grid-row-end: 5;*/
    background-color: red;
    height: 470%;
    
    

}

/*.tijd{
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(255, 255, 255);
    grid-column-start: 2;
    grid-column-end: 4;
    margin-left: 16%;
    margin-right: 3%;
    margin-top: -10%;
    height: 360%;
    text-align: center;
    place-items: center;
    justify-content: center;
    display: flex;
    border: 3px solid black ;
}*/

#eenheid {
    font-size: .6rem;
    color: black;
}

.temp {
    font-size: .5rem;
    font-family: 'Courier New', Courier, monospace;
    fill: rgb(0, 0, 0);
}

#thermostaat{
    
    margin-top: 65%;
    color: rgba(200,200,200,0.5)
    
    
}
.apparaat{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6;
}

.apparaat {
    padding: 10px;
    background: #12ffeb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: 30px center;
    margin: 1%;
    border: 3px solid black;
    
}



 



