#dashboard {
    display: grid;
    height: 80vh;
    grid-template-columns: 1.3fr 0.7fr 1fr ;
    grid-template-rows: 100px 1fr 100px;
    
}

.meterstanden {
    
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(255, 255, 255);
    margin: px;
    justify-content: center;
    place-items: center;
    display: flex;
    border: 1px solid black;
    margin-left: 5%;
    
    
}

.gegevensmeter {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color:#57FFD1;
    
    justify-content: center;
    place-items: center;
    display: flex;
    padding-top: 0%;
    
    height: 70%;
    margin-bottom: 71%;
    margin-left: 5%;

}
.weerbalk {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(255, 255, 255);
    margin: px;
    justify-content: center;
    place-items: center;
    display: flex;
    border: 1px solid black;
    width: 70%;
    margin-left: 40%;

}
.weer { 
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: aqua;
    margin: px;
    justify-content: center;
    place-items: center;
    display: flex;
    margin: 4px;
    margin-left: 40%;
    width: 70%;
    height: 50vh;

}
.tempbin-balk{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 1px solid black;
    justify-content: center;
    place-items: center;
    display: flex;
    width: 65%;
    margin-left: 30%;
}

.temperatuurbinnen {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgb(255, 0, 0);
    margin: px;
    justify-content: center;
    place-items: center;
    display: flex;
    margin: 4px;
    height: 50vh;
    width: 65%;
    margin-left: 30%;
}


