#dashboard {
        
    display: grid;
    
    grid-template-columns: 1fr;
    
    grid-template-areas: "header"
                         "standen"
                         "weer"
                         "temp"
                         "kosten"
                         "app1" 
                         "app2";
}   








.meterstanden {
    
    
    background-color: rgb(255, 255, 255);
    margin: 0%;
    justify-content: center;
    place-items: center;
    display: flex;
    border: 1px solid black;
    margin-left: 0%;
    
    
    

    
    
}

.gegevensmeter {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color:#57FFD1;
    
    justify-content: center;
    place-items: center;
    display: flex;
    padding-top: 0%;
    
    height: 100%;
    margin-bottom: 61%;
    margin-left: 0%;
    
    
    
    
    
    
    
    

}

/*.button{
    margin: 15px;
    padding: 15px;
    border-radius: 30px;
    width: 150px;
    height: 60px;
    text-align: center;
}*/



.button1{
    background-color: #1bbbec; /* Green */
  border-radius: 40px;
  color: white;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2{
    background-color: #1bbbec; /* Green */
  border-radius: 40px;
  color: white;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 15%;
  align-items: center;
  justify-content: center;
  place-items: center;

}

.button3 {
    background-color: #1bbbec; /* Green */
  border-radius: 40px;
  color: white;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 15%;
  align-items: center;
  justify-content: center;
  place-items: center;
}
.weerbalk {
    
    background-color: rgb(255, 255, 255);
    margin: 0%;
    justify-content: center;
    place-items: center;
    display: flex;
    border: 1px solid black;
    width: 100%;
    
    height: 10%;
    margin-top: -23%;

}
.weer { 
    
    background-color: aqua;
    margin: 0%;
    justify-content: center;
    place-items: center;
    display: flex;
    margin: 0px;
    
    width: 100%;
    height: 50vh;
    
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    

}

.wr1 {
    grid-area: weer;
    margin-top: 3%;
    margin-bottom: 20%;
}
.app-title{
    text-align: center;
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
}

.temperature-value{
    font-size: 150%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.temperature-description{
    font-size: 150%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.location{
    font-size: 150%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.tempbin-balk{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 1px solid black;
    justify-content: center;
    place-items: center;
    display: flex;
    width: 100%;
    margin-left: 0%;
    font-size: 350%;
    background-color: rgb(94, 233, 94);
    margin-top: -16%;
}

.temperatuurbinnen {
    
    background-color: rgb(255, 255, 255);
    margin-top: 0%;
    justify-content: center;
    place-items: center;
    display: flex;
    height: 50vh;
    width: 100%;
    margin-left: 0%;
    font-size: 40%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left:  1px solid black;
    
    
}

.tem7{
    grid-area: temp;

}
.kop{
    
    margin: 0%;
    background-color: #12ffeb;
    display: flex;
    justify-content: center;
    place-items: center;
    align-items: center;
    justify-items: center;
    grid-area: header;
}

.blauwbalk {
    margin-top: 0%;
    width: 300px;
    text-align: center;
    

}

.kosten{
    
    background-color: #72E7FF;
    justify-content: center;
    place-items: center;
    display: flex;
    height: 10%;
    font-size: 140%;
    
    
    width: 100%;
    border: 1px solid black;
}

.kst{
    grid-area: kosten;
    margin-left: 0%;
    margin-bottom: 11.5%;
    margin-top: 1.5%;
}



.kosten1{
    
    
    /*grid-row-start: 4;
    grid-row-end: 5;*/
    background-color: red;
    height: 470%;
    
    
    

}

/*.tijd{
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(255, 255, 255);
    grid-column-start: 2;
    grid-column-end: 4;
    margin-left: 16%;
    margin-right: 3%;
    margin-top: -10%;
    height: 360%;
    text-align: center;
    place-items: center;
    justify-content: center;
    display: flex;
    border: 3px solid black ;
}*/

#eenheid {
    font-size: .6rem;
    color: black;
}

.temp {
    font-size: .5rem;
    font-family: 'Courier New', Courier, monospace;
    fill: rgb(0, 0, 0);
}

#thermostaat{
    
    margin-top: 65%;
    color: rgba(200,200,200,0.5)
    
    
}
.apparaat {
    padding: 10px;
    background: #12ffeb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: 30px center;
    margin: 1%;
    margin-top: 8%;
    
    
    
        
}


.tel1{
    grid-area: app1;
    margin-top: -15%;
   
}

.tv1 {
    grid-area: app2;
    margin-top: -7%;
  
}



@media screen and (min-width: 900px){
    .bod1{
        
    }

    #dashboard {

        
        
        display: grid;
        height: 80vh;
        grid-template-columns: 1.3fr 0.7fr 1fr ;
        grid-template-rows: 100px 1fr 100px;
        grid-template-areas: "header header header"
                                 "standen weer temp"
                                 "kosten app1 app2";

    }

    .kst{
        margin-top: -20%;
        margin-left: 0%;
    }

    .apparaat {
        padding: 10px;
        background: #12ffeb;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: 120px;
        background-repeat: no-repeat;
        background-position: 30px center;
        margin: 1%;
        margin-top: -11%;
        margin-left: 6%;
        
        
        
            
    }

    .weer { 
    
        background-color: aqua;
        margin: 0%;
        justify-content: center;
        place-items: center;
        display: flex;
        margin: 0px;
        margin-left: 6.4%;
        width: 92%;
        height: 50vh;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        
    
    }
    .weerbalk {
    
        background-color: rgb(255, 255, 255);
        margin: 0%;
        justify-content: center;
        place-items: center;
        display: flex;
        border: 1px solid black;
        width: 92%;
        margin-left: 6.4%;
        height: 10%;
        margin-top: -25.6%;
    
    }
    .meterstanden {
    
    
        background-color: rgb(255, 255, 255);
        margin: 0%;
        justify-content: center;
        place-items: center;
        display: flex;
        border: 1px solid black;
        margin-left: 0%;
        font-size: 330%;
        
        
    
        
        
    }
    
    .gegevensmeter {
        grid-column-start: 1;
        grid-column-end: 2;
        background-color: #57FFD1;
        justify-content: center;
        place-items: center;
        display: flex;
        padding-top: 0%;
        height: 70%;
        margin-bottom: 61%;
        margin-left: 0%;
        
        
        
        
        
        
        
        
    
    }

    .tempbin-balk{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        border: 1px solid black;
        justify-content: center;
        place-items: center;
        display: flex;
        width: 93.5%;
        margin-left: 6%;
        font-size: 350%;
        background-color: rgb(94, 233, 94);
        margin-top: -16%;
    }
    
    .temperatuurbinnen {
        
        background-color: rgb(255, 255, 255);
        margin-top: -2.1%;
        justify-content: center;
        place-items: center;
        display: flex;
        height: 50vh;
        width: 93.5%;
        margin-left: 6%;
        font-size: 40%;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        
        
    }

    .televisie{
        height: 240%;
        border: 2px solid black;
    }

    .telefoon{
        height: 209%;
        border: 2px solid black;
    }

    .kosten{
        background-color: #72E7FF;
        justify-content: center;
        place-items: center;
        display: flex;
        height: 10%;
        font-size: 140%;
        width: 100%;
        border: 1px solid black;
    }



    

    
                                            
            
        
    
        
        
}





 



