.titel {
    
    
    
    text-align: center;
    
    
}

.foto {
    width: 6%;
    height: 6;
    margin-top: -3.2%;
    
}
.div1 {
    background-color: red;
    height: 80px;
    width: 100%;
}